body {
  padding: 0;
  margin: 0;
  background-image: url('./img/fundo.jpg');
  background-repeat: cover;
 
  font-family: 'DotGothic16', sans-serif;
 
}

.card.main.mt-5{
  background-image: url('./img/zapweb.png');
  background-repeat: cover;
}

.form-control.session{
  width: 50%;

}

.qrcode{
  background: transparent;
}
